body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px ;
}
.title-name{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left:2%;
   
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 400;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}